{% extends 'base.html' %}

{% load i18n bootstrap3 static %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1>{% trans "Profile" %}</h1>

<form action="" method="post">
	{% csrf_token %}
	{% bootstrap_form form %}
	<button class="btn btn-primary" type="submit">Update</button>
</form>

<br/>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  	<li role="presentation" class="active"><a href="#pictures" role="tab" data-toggle="tab">Pictures</a></li>
  	<li role="presentation"><a href="#audios" role="tab" data-toggle="tab">Audios</a></li>
  	<li role="presentation"><a href="#videos" role="tab" data-toggle="tab">Videos</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  	<div role="tabpanel" class="tab-pane active" id="pictures">
  		<h1>{% trans "Pictures" %}</h1>

		{% if pictures %}
		<table class="table">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Description</th>
				<th>Date</th>
				<th></th>
			</th>
			{% for picture in pictures %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{% url 'image_view' pk=picture.pk %}">{{ picture.filename }}</a></td>
				<td>{{ picture.description }}</td>
				<td>{{ picture.upload_dt }}</td>
				<td><a class="btn btn-danger btn-sm" href="{% url 'file_remove' pk=picture.pk %}">Remove</a></td>
			</th>
			{% endfor %}
		</table>
		{% endif %}
		<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="user" value="{{request.user.pk}}">
			<input type="hidden" name="file_type" value="P">
			<div class="form-group">
		    	<label for="uploadFile">Picture</label>
		    	<input type="file" id="uploadFile" name="upload">
		    	<p class="help-block">Please upload picture file</p>
		    	<label for="description">Description</label>
		    	<input type="text" name="description" id="description"/>
		  	</div>
		  	<button type="submit" class="btn btn-primary">Upload</button>
		</form>
  	</div>

  	<div role="tabpanel" class="tab-pane" id="audios">
  		<h1>{% trans "Audios" %}</h1>

		{% if audios %}
		<audio controls id="audioControl">
  			<source src="" type="audio/ogg" id="audioSource">
		</audio>
		<br/>
		<p id="audioDescription"></p>
		<button class="btn btn-sm btn-default" onClick="backAudio()">Back</button>
  		<button class="btn btn-sm btn-default" onClick="forwardAudio()">Forward</button>

  		<br/><br/>
		<table class="table" id="audioTable">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Description</th>
				<th>Date</th>
				<th></th>
			</th>
			{% for audio in audios %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{{ MEDIA_URL }}{{ audio.upload }}" class="audioFile" data-description="{{ audio.description }}" data-name="{{ audio.filename }}">{{ audio.filename }}</a></td>
				<td>{{ audio.description }}</td>
				<td>{{ audio.upload_dt }}</td>
				<td><a class="btn btn-danger btn-sm" href="{% url 'file_remove' pk=audio.pk %}">Remove</a></td>
			</th>
			{% endfor %}
		</table>
		{% endif %}
		<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="user" value="{{request.user.pk}}">
			<input type="hidden" name="file_type" value="A">
			<div class="form-group">
		    	<label for="uploadFile">Audio</label>
		    	<input type="file" id="uploadFile" name="upload">
		    	<p class="help-block">Please upload Audio file</p>
		    	<label for="description">Description</label>
		    	<input type="text" name="description" id="description"/>
		  	</div>
		  	<button type="submit" class="btn btn-primary">Upload</button>
		</form>
  	</div>

  	<div role="tabpanel" class="tab-pane" id="videos">
  		<h1>{% trans "Video" %}</h1>

		{% if videos %}
			<video controls width='50%' height='40%' id="videoControl">
  				<source src="{{ MEDIA_URL }}{{ video.upload }}" type="video/mp4" id="videoSource"></source>
			</video>
			<br/>
			<p id="videoDescription"></p>
			<button class="btn btn-sm btn-default" onClick="backVideo()">Back</button>
	  		<button class="btn btn-sm btn-default" onClick="forwardVideo()">Forward</button>

	  		<br/><br/>

			{% for video in videos %}
				<p>{{ video.filename }}</p>
				<video controls width='50%' height='40%'>
					<source src="{{ MEDIA_URL }}{{ video.upload }}" type="video/mp4" class="videoFile" data-description="{{ video.description }}" data-name="{{ video.filename }}"></source>
				</video>
				<br/>
				<p>{{ video.description }}</p>
				<a class="btn btn-danger btn-sm" href="{% url 'file_remove' pk=video.pk %}">Remove</a>
				<br/><br/>
			{% endfor %}
		{% endif %}

		<br/>

		<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="user" value="{{request.user.pk}}">
			<input type="hidden" name="file_type" value="V">
			<div class="form-group">
		    	<label for="uploadFile">Video</label>
		    	<input type="file" id="uploadFile" name="upload">
		    	<p class="help-block">Please upload Video file</p>
		    	<label for="description">Description</label>
		    	<input type="text" name="description" id="description"/>
		  	</div>
		  	<button type="submit" class="btn btn-primary">Upload</button>
		</form>
  	</div>
</div>

{% endblock %}

{% block custom_js %}
<script>
var audioFiles = new Array();
$('#audioTable .audioFile').each(function(){
	audioFiles.push({
		'path':$(this).attr('href'),
		'filename': $(this).data('name'),
		'description': $(this).data('description'),
	});
});
var audioIndex = 0;
var audioCounts = audioFiles.length;

function setAudio() {
	$("#audioSource").attr('src', audioFiles[audioIndex]['path']);
	$("#audioDescription").html(audioFiles[audioIndex]['filename'] + "  (" + audioFiles[audioIndex]['description'] + ")");
	$("#audioControl").trigger('load');
}

$(document).ready( function(){	
	setAudio();
})

function backAudio() {
	audioIndex = audioIndex + audioCounts - 1;
	audioIndex = audioIndex % audioCounts;
	setAudio();
}

function forwardAudio() {
	audioIndex = audioIndex + 1;
	audioIndex = audioIndex % audioCounts;
	setAudio();
}
</script>

<script>
var videoFiles = new Array();
$('#videos .videoFile').each(function(){
	videoFiles.push({
		'path':$(this).attr('src'),
		'filename': $(this).data('name'),
		'description': $(this).data('description'),
	});
});
var videoIndex = 0;
var videoCounts = videoFiles.length;

function setVideo() {
	$("#videoSource").attr('src', videoFiles[videoIndex]['path']);
	$("#videoDescription").html(videoFiles[videoIndex]['filename'] + "  (" + videoFiles[videoIndex]['description'] + ")");
	$("#videoControl").trigger('load');
}

$(document).ready( function(){	
	setVideo();
})

function backVideo() {
	videoIndex = videoIndex + videoCounts - 1;
	videoIndex = videoIndex % videoCounts;
	setVideo();
}

function forwardVideo() {
	videoIndex = videoIndex + 1;
	videoIndex = videoIndex % videoCounts;
	setVideo();
}
</script>
{% endblock %}